body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// animacion boxtop con keyframe
@keyframes animacion {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
.box_top {
        font-family: $main_font;
        font-weight: $text_regular;
        font-size: $text_xs;
        background-color: black;
        color: white;
        overflow: hidden;
        p {
            margin: 5px;
            animation-name: animacion;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-delay: 0s;
        }
}
// termina animacion

h1 {
    font-family: $main_font;
    display: flex;
    margin: 20px;
    color: black;
    font-size: $text_lg;
    font-weight: $text_regular;
    @include flex (center, center);
    &.title--contacto {
        margin-top: 20vh;
    }
}

h2 {
    font-family: $main_font;
    display: flex;
    margin: 20px;
    color: black;
    font-size: $text_lg;
    font-weight: $text_regular;
    @include flex (center, center);
    margin-top: 18vh;
}


form {
    display: flex;
    padding: 12px;
    margin: 15vh 10px 5vh 10px;
    @include flex (end, center);
    select {
        font-family: $main_font;
        font-weight: $text_light;
        font-size: $text_xs;
        border: none;
        margin-right: 8px;
        padding: 10px;
        text-decoration: underline;
        &:hover {
            font-weight: $text_bold;
        }
    }
}


// carrousel
main {
    div {
        .carousel--ofertas__index {
            width: 100%;
            height: 75vh;
            div {
                img {
                    width: 100%;
                }
            }
        }      
    }
}



// footer
.footer {
    font-family: $main_font;
    font-weight: $text_regular;
    padding: 20px;
    display:flex;
    .container {  
        max-width: 100%;
        margin: 0 auto;
        .grid--footer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            .grid-item {
                padding: 10px;
                ul {
                    list-style-type: none;
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        &.ig {
                            display: inline-block;
                            margin: 3vh 1vw;
                        }
                        &.fb {
                            display: inline-block;
                            margin: 3vh 1vw;
                        }
                        &.pts {
                            display: inline-block;
                            margin: 3vh 1vw;
                        }
                        a {
                            color:$main_color;
                            text-decoration: none;
                            &:hover {
                                font-weight: $text_bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

  

  






