// contacto
main {
    form {
        margin-top: 3vh;
        @include flex (center, center);
        width: 100vw;
        .grid__contacto{
            font-family: $main_font;
            font-size: $text_sm;
            font-weight: $text_regular;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat (9, 15px);
            line-height: $line_height_regular;
            div {
                label {
                    justify-self: flex-start;
                    @include flex (start, end);
                    margin-top: 5vh;
                }
                input {
                    width: 100%;
                }
            }
            a {
                justify-self: end;
                width: 25%;
                text-decoration:none;
                background-color: black;
                color: white;
                padding: 10px;
                margin: 5vh;
                &:hover {
                    font-weight: $text_bold;
                }
            }
        }
    }
}


// campaña index
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "video texto"
    "video boton";
    background-color: $secondary_color;
    row-gap: 0;
    .video {
        display: flex;
        grid-area: video;
        align-items: center;
        width: 100%;
        margin: 60px;
        padding: 0;
        justify-content: center;
    }    
    .texto{
        font-family: $main_font;
        display: flex;
        grid-area: texto;
        font-weight: $text_light;
        font-size: $text_sm;
        line-height: $line_height_regular;
        padding: 30px;
        justify-items: center;
        margin-top: 8vh;
    }
    .boton {
        font-family: $main_font;
        grid-area: boton;
        display: flex;
        font-size: $text_sm;
        justify-content: center;
        a {
            text-decoration: none;
            @include flex (center, center);
            button {
                font-weight: $text_light;
                border: none;
                background-color:transparent;
                &:hover{
                    color: white;
                    font-weight: $text_bold;
                }        
            }
        }
    }
}



// campaña
.grid__campaña {
    font-family: $main_font;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto;
    figure {
        img {
            width: 90%;
            height: auto;
            margin: 50px 20px 10px 20px;
        }
        figcaption {
            font-weight: $text_regular;
            font-size: $text_sm;
            margin: 0 0 5px 20px;
        }
        p {
            display: inline-block;
            font-weight: $text_regular;
            font-size: $text_sm;
            margin: 0 0 5px 20px;
        }
        button {
            font-weight: $text_regular;
            font-size: $text_sm;
            margin: 0 0 5px 20px;
            padding: 3px;
            border: none;
            background-color: transparent;
            display: block;
            &:hover {
                background-color: $main_color;
                color: white;                
            }
        }
    }
}


// indumentaria
.grid__indumentaria {
    @extend .grid__campaña;
    figure {
        .precio_original {
            text-decoration:line-through;
        }
        .oferta {
            color: green;
        }
    }
}


// accesorios
.grid__accesorios {
    @extend .grid__indumentaria;
}


// ofertas
.grid__ofertas {
    @extend .grid__indumentaria;
}

// error 404
.grid--error404{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "titulo img"
    "boton img";

    .title--eror404{
        grid-area: titulo;
        font-family: $main_font;
        display: flex;
        margin-left: 60px;
        color: black;
        font-size: $text_lg;
        font-weight: $text_regular;
        @include flex (center, center);
        margin-top: 13vh;
    }
    .img--error {
        width: 100%;
        margin-top: 13vh;
        grid-area: img;
        justify-self: center;
    }
    .boton--error404 {
        font-family: $main_font;
        grid-area: boton;
        font-size: $text_sm;
        margin-left: 60px;
        color: black;
    }
}    

