// responsive 
@media (max-width: 768px) {
    .main_nav {
        display: none;
    }
    .compras {
        display: none;
    }
    h2 {
        margin: 40px;
    } 
    main {
        div {
            .carousel--ofertas__index {
                height: auto;
            }      
        }
    }  
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "video"
        "texto"
        "boton";
    }
    .grid__indumentaria {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    form.categorias {
        display: none;
    }
    .grid__accesorios {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .grid__ofertas {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .grid--ofertas__index {
        display: none;
    }
    .grid__campaña {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .grid--error404 {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        .title--eror404{
            margin-top: auto;
        } 
        .img--error {
            margin-top: auto;
        }       
    }
    .botonera--responsive {
        font-size: $text_sm;
    }
    .footer {
        .container {
            .grid--footer {
                grid-template-columns: 100%;
            }
        }
    }
}

// desktop
@media (min-width: 768px) {
    .navbar {
        display: none;
    }
}
