// responsive 
@media (max-width: 820px) {
    .main_nav {
        display: none;
    }
    .compras {
        display: none;
    }
    h2 {
        margin: 40px;
    } 
    .title--contacto {
        margin-top: 5vh;
    }
    main {
        div {
            .carousel--ofertas__index {
                height: auto;
            }      
        }
    }  
    .grid {
        overflow-x: hidden;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "video"
        "texto"
        "boton";
        .video {
            padding: 5px;
            margin: 0;
        }
        .texto {
            margin-right: 0;
            margin-top: 2vh;
            padding-right: 2vw;
        }
        .boton {
            margin-right: 0;
            padding-right: 0;
        }
    }
    .grid__indumentaria {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    form.categorias {
        display: none;
    }
    .grid__accesorios {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .grid__ofertas {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .grid--ofertas__index {
        display: none;
    }
    .grid__campaña {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .grid--error404 {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "titulo"
        "img"
        "boton";
        .title--eror404{
            margin-top: 5vh;
        }  
        .img--error {
            margin-top: 5px;
        }    
        .boton--error404 {
            justify-self: center;
            margin-top: 10px;
        } 
    }
    .botonera--responsive {
        font-size: $text_sm;
    }
    .footer {
        .container {
            .grid--footer {
                justify-items: center;
                justify-content: center;
                grid-template-columns: 100%;
                .grid-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-items: center;
                }
            }
        }
    }
}

// desktop
@media (min-width: 820px) {
    .navbar {
        display: none;
    }
}
