// colores
$main_color: #1f3659;
$secondary_color: #6b7b93b3;

// tipografia, tamaños, weight
$main_font: 'Montserrat', sans-serif;
$text_xs: .8em;
$text_sm: 1em;
$text_md: 1.3em;
$text_lg: 2.5em;
$text_xl: 5em;
$text_light: 200;
$text_regular: 300;
$text_bold: 500;
$line_height_regular: 1.5em;

